@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

input {
    padding: 0px 8px;
}

select {
    padding: 5px;
}
